@import 'bootstrap-sprockets';
@import 'bootstrap';

.navbar {
	margin-bottom: 0;
}

.jumbotron {
	background-color: #C59086;
}

.footer {
	margin-top: 50px;
	color: $gray-light;
	a {
		color: $gray;
	}
}